<label><strong>Name: </strong></label><%= @octopus.name %>
<br>
<br>
<label><strong>Legs: </strong></label><%= @octopus.legs %>
<br>
<br>
<%= link_to 'Edit', edit_octopus_path %> | <%= link_to 'Back', octopi_path %>
